*{
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif
  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
  background-color: #8680c1;
  border-radius: 0.5em;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input{
  padding: 0.5em 1em;
  margin: 0.5em;
  border-radius: 0.5em;
}

.btn{
  background-color: rgb(56, 49, 103);
  color: white;
  border: #282c34;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin: 1em;
  font-size: 15pt;
  
}
.btn:hover{
  color: rgb(56, 49, 103);
  background-color: white;
  border: rgb(56, 49, 103) 1px solid;
  
}